<div class="franchise-backdrop franchise-hidden" franchise-modal>
  <div class="franchise-modal">
    <button class="close-button" franchise-modal-close>✖</button>
    <p class="franchise-name">make money with us</p>
    <p class="franchise-text">Leave contact details and we'll call you!</p>
    <form class="form" autocomplete="off">
      <div class="field">
        <label>
          <span class="franchise-element">Name</span>
          <input type="text" name="name" class="franchise-input" placeholder="Barak Obama">
        </label>
      </div>
      <div class="field">
        <label>
          <span class="franchise-element">Phone number</span>
          <input type="tel" name="tel" class="franchise-input" placeholder="+61(0) 383 766 284">
        </label>
      </div>
      <div class="field">
        <label>
          <span class="franchise-element">Email</span>
          <input type="email" name="mail" class="franchise-input" placeholder="email@email.us">
        </label>
      </div>
      <div>
        <div class="franchise-element">
          <label for="comment">Leave your comment</label>
        </div>
        <textarea class="franchise-textarea" name="comment" id="comment" placeholder="Comment..."></textarea>
      </div>
      <button class="franchise-button" type="submit">Submit</button>
    </form>
  </div>
</div>