<div class="buy-backdrop buy--is-hidden" buy-modal>
    <div class="buy-modal">
        <button type="button" class="buy-button" buy-modal-close>
            <svg width="18" height="18">
                <use href="./images/icons.svg#icon-close-modal"></use>
            </svg>
        </button>
        <h2 class="buy-title">Leave your details, we will contact you</h2>
        <form class="form" method="post" action="./php/feedback.php" autocomplete="off">

            <div class="form-group col-6">
                <label for="name">Introduce youreself: <span style="color: red">*</span></label>
                <input type="text" name="name" id="name" onkeyup="checkParams()" placeholder="Barak Obama" required />
            </div>
            <div class="form-group col-6">
                <label for="mail">Enter your email: <span style="color: red">*</span></label>
                <input type="email" name="mail" id="email" onkeyup="checkParams()" placeholder="email@email.us"
                    required />
            </div>

            <div class="form-group">
                <label for="phone">Enter your phone: <span style="color: red">*</span></label>
                <input type="tel" name="phone" id="phone" onkeyup="checkParams()" placeholder="+61(0) 383 766 284"
                    required />
            </div>

            <div class="form-group checkbox-group">
                <label for="services">Select a product: </label>
                <div class="chekbox-product">
                    <label class="checkbox">
                        <input class="checkbox-check" type="checkbox" name="product" value="ice-cream" checked />
                        <span class="checkbox-icon"></span>ice cream
                    </label><span class="chekbox-img ice-img"></span>
                </div>
                <div class="chekbox-product">
                    <label class="checkbox">
                        <input class="checkbox-check" type="checkbox" name="product" value="ice-coffee" checked />
                        <span class="checkbox-icon"></span>ice coffee
                    </label><span class="chekbox-img coffee-img"></span>
                </div>
                <div class="chekbox-product">
                    <label class="checkbox">
                        <input class="checkbox-check" type="checkbox" name="product" value="milkshakes" />
                        <span class="checkbox-icon"></span>milkshakes
                    </label><span class="chekbox-img shake-img"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Additional information:</label>
                <textarea name="message"></textarea>
            </div>
            <div class="button-group">
                <button type="button" class="hero-button-red" id="submit" class="btn" value="" modal-thanks-open
                    buy-modal-remove />Send</button>
                <button type="button" class="hero-button-white" onclick="form.reset()">Clear</button>
            </div>
            <div class="py-3">
                <small>Fields marked with <span style="color: red">*</span> are required.</small>
            </div>
        </form>
    </div>
</div>