<div class="backdrop hidden" contact-modal>
    <div class="contact-modal">
        <button class="contact-modal-close" contact-modal-close>✖</button>
        <iframe class="contact-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33604.8412729451!2d-87.63144372127148!3d41.886912598928184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca7ee50247b%3A0x45d57ac17d6d01b1!2sMaggie%20Daley%20Park%20Ice%20Skating%20Ribbon!5e0!3m2!1sru!2sua!4v1613837057952!5m2!1sru!2sua" 
         style="border:0;" 
         allowfullscreen="" 
         loading="lazy">
        </iframe>

    </div>
    
</div>