<div class="backdrop hidden" milkshakes-modal>
    <div class="modal milkshakes-modal">
        <button class="close-button" milkshakes-modal-close>✖</button>
        <h2 class="product-title">milkshakes</h2>
        <p class="product-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos sunt adipisci impedit illo.
            Officiis dignissimos laboriosam quas velit suscipit maxime excepturi illum, accusantium aut. Asperiores voluptas
            nulla ducimus quo id nihil molestiae, omnis aspernatur aliquam voluptate quam temporibus saepe, nostrum iusto
            doloremque pariatur distinctio architecto. Sequi omnis autem, nihil laboriosam quo nam! Aliquam, sequi pariatur
            fugit adipisci ducimus dolor totam!</p>
        <button class="button-buy" buy-milkshakes-open milkshakes-buy-close>Buy now</button>
    </div>
</div>