<div class="thanks thanks--is-hidden" modal-thanks>
    <div class="thanks-modal">
        <button type="button" class="thanks-button" modal-thanks-close>
            <svg width="18" height="18">
                <use href="./images/icons.svg#icon-close-modal"></use>
            </svg>
        </button>
        <h2 class="thanks-title section-title">Thank you for your order!</h2>
        <p class="thanks-text">You have made your first order in our store!
            <span class="accent-text">We congratulate you! Now you are a member of our discount program!</span>
            <span>We will contact you as soon as possible!</span>
        </p>
    </div>
</div>