.gallery-section {
  position: relative;

  height: 122px;
  background-image: linear-gradient ($sec-background-color 35%, transparent 0%);

  @media screen and(min-width: 768px) {
    height: 264px;
    background-image: linear-gradient(
      $sec-background-color 39%,
      transparent 0%
    );
  }

  @media screen and(min-width: 1280px) {
    height: 430px;
    background-image: linear-gradient(
      $sec-background-color 40%,
      transparent 0%
    );
  }
}

.gallery-box {
  @media screen and (min-width: 1280px) {
    position: relative;

    width: 1050px;
  }
}

.gallery-image-main {
  @media screen and(max-width: 1279px) {
    position: absolute;

    left: -50%;
    right: -50%;
    margin: 0 auto;
  }
  @media screen and(min-width: 1280px) {
    visibility: hidden;
  }
}

.gallery-img {
  position: absolute;
  @media screen and(max-width: 1279px) {
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 1px;
  }
}

.gallery-image-1 {
  top: 30%;
  left: 0%;
}
.gallery-image-2 {
  top: 15%;
  left: 14%;
}
.gallery-image-3 {
  top: 57%;
  left: 14%;
}
.gallery-image-4 {
  top: -3%;
  left: 28%;
}
.gallery-image-5 {
  top: 78%;
  left: 28%;
}
.gallery-image-6 {
  top: 25%;
  left: 56%;
}
.gallery-image-7 {
  top: 65%;
  left: 56%;
}
.gallery-image-8 {
  top: 13%;
  left: 70%;
}
.gallery-image-9 {
  top: 54%;
  left: 70%;
}
.gallery-image-10 {
  top: 37%;
  left: 84%;
}

.scale {
  display: inline-block;
  overflow: hidden;
  transition: 0.8s;

  &:hover {
    transform: scale(1.5);
    z-index: 2;
  }
}

.scale-min {
  display: inline-block;
  overflow: hidden;
  transition: 0.8s;

  &:hover {
    transform: scale(1.25);
    z-index: 2;
  }
}

.scale img {
  transition: 0.8s;
  display: block;

  &:hover {
    transform: scale(1.5);
  }
}
