.thanks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  @include transition(opacity);

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.thanks-modal {
  position: relative;
  width: 100%;
  transform: scale(1);
  padding: 40px;
  background-color: #ffdee7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  background-image: linear-gradient(
      rgba(255, 245, 246, 0.466),
      rgba(255, 245, 246, 0.466)
    ),
    url(../images/modal-thanks/minmobile-thanks.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 4px;
  @media screen and (min-width: 400px) {
    position: relative;
    left: 50%;
    max-width: 370px;
    max-height: 810px;
    transform: translateX(-50%) scale(1);
    background-image: linear-gradient(
        rgba(255, 245, 246, 0.466),
        rgba(255, 245, 246, 0.466)
      ),
      url('../images/modal-thanks/mobile-thanks.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(255, 245, 246, 0.466),
          rgba(255, 245, 246, 0.466)
        ),
        url('../images/modal-thanks/mobile-thanks@2x.jpg');
    }
  }
  @media screen and (min-width: 768px) {
    left: 50%;
    max-width: 480px;
    max-height: 760px;
    transform: translate(-50%) scale(1);
    background-image: linear-gradient(
        rgba(255, 245, 246, 0.466),
        rgba(255, 245, 246, 0.466)
      ),
      url('../images/modal-thanks/tablet-thanks.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(255, 245, 246, 0.466),
          rgba(255, 245, 246, 0.466)
        ),
        url('../images/modal-thanks/tablet-thanks@2x.jpg');
    }
  }

  @media screen and (min-width: 1050px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 528px;
    max-height: 740px;
    background-image: linear-gradient(
        rgba(255, 245, 246, 0.466),
        rgba(255, 245, 246, 0.466)
      ),
      url('../images/modal-thanks/desktop-thanks.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(255, 245, 246, 0.466),
          rgba(255, 245, 246, 0.466)
        ),
        url('../images/modal-thanks/desktop-thanks@2x.jpg');
    }
  }

  @include transition(transform);

  .thanks-text {
    @include font(700, 12px, 1.6, 0.04em);
    color: $main-text-color;

    @media screen and (min-width: 768px) {
      @include font(700, 14px, 1.8, 0.04em);
    }

    @media screen and (min-width: 1280px) {
      @include font(700, 16px, 1.7, 0.04em);
    }
  }

  .accent-text {
    display: block;
    color: $accent-color;
  }

  .thanks--is-hidden & {
    transform: scale(0.8);
    @media screen and (min-width: 400px) {
      transform: translateX(-50%) scale(0.8);
    }
    @media screen and (min-width: 1050px) {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}

.thanks-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  @include transition(fill);

  &:hover,
  &:focus {
    fill: red;
  }

  &-title {
  }
}
