.backdrop.hidden {
  opacity: 0;
  pointer-events: none;
}

body.modal-open {
  overflow: hidden;
}

.backdrop {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: rgba(0, 0, 0, 0.2);

  @include transition(opacity);
  @include flex;

  .modal {
    position: relative;
    z-index: 6;
    max-width: 450px;
    width: 100%;
    margin: auto;

    padding: 40px 30px;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%),
      0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    background-color: #ffb8ca;

    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(rgba(255, 184, 202, 0.4), rgba(255, 184, 202, 0.4)), url('../images/products/ice-cream.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(rgba(255, 184, 202, 0.4), rgba(255, 184, 202, 0.4)), url('../images/products/ice-cream@2x.png');
    }

    @media screen and (min-width: 1280px) {
      max-width: 528px;
      max-height: 581px;
    }
  }
  .coffee-modal {
    background-color: #f0d1a5;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(rgba(240, 209, 165, 0.2), rgba(240, 209, 165, 0.2)), url('../images/products/ice-coffee.png');

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(rgba(240, 209, 165, 0.2), rgba(240, 209, 165, 0.2)), url('../images/products/ice-coffee@2x.png');
    }
  }
  .milkshakes-modal {
    background-color: #c2e297;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(rgba(194, 226, 151, 0.4), rgba(194, 226, 151, 0.4)), url('../images/products/milkshakes.png');

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(rgba(194, 226, 151, 0.4), rgba(194, 226, 151, 0.4)), url('../images/products/milkshakes@2x.png');
    }
  }

  .close-button {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    top: 0;
    margin-top: 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    justify-content: center;
    font-size: 24px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: transparent;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .product-title {
    font-family: Titan One;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 60px;

    color: $accent-color;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
    }
  }
  .product-text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: #414141;

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  .button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    letter-spacing: unset;
    background-color: #ffffff;
    border-color: transparent;
    border-radius: 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    cursor: pointer;
    color: $accent-color;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 50px;
    }
  }
  .button-buy::after {
    position: relative;
    top: 2px;
    content: '';
    width: 6px;
    height: 10px;
    margin-left: 12px;
    background-image: url(../images/arrow.svg);
  }
}
